html, body
{
    background: #000000;
    
    font-family: Source Sans Pro, Arial, Sans Serif;
    font-size: 1em;
    line-height: 1.5em;
}

body
{
    margin: 4em auto 1em auto;
}

h1
{
    text-align: center;
}

hr
{
    height: 1px;
    width: 75%;
    margin: 2.5em auto 2.5em auto;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #666, rgba(0, 0, 0, 0));
    border: 0;
}

p.center
{
    text-align: center;
}

.bar
{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    padding: 0 2em 0 2em;
    
    line-height: 3em;
    
    background: #FFFFFF;
    border-bottom: 1px solid #BBBBBB;
    box-shadow: 0 0 32px #000;
}

span.bar-left
{
    font-weight: bold;
    font-size: 1.5em;
    float: left;
}

ol.bar-left
{
    display: inline;
    float: left;
    padding: 0;
    
    line-height: 1em;
    list-style: none;
}

ol.bar-left li
{
    float: left;
}

ol.bar-left li:before
{
    content: "-";
    padding: 0 0.5em 0 0.5em;
}

ol.bar-left li:first-child:before
{
    content: none;
}

.bar-right
{
    float: right;
}

form.bar-right
{
    line-height: 1em;
}

.bar-right label
{
    display: inline-block;
    width: 150px;
    font-size: 0.75em;
}

.bar-right input[type=text], .bar-right input[type=password]
{
    width: 150px;
    font-size: 0.75em;
}


.box
{
    margin: auto;
    padding: 1em;
    display: table;
    
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
}

form.box
{
    width: 40em;
}

label.big
{
    font-family: inherit;
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(255,145,0);
}

.required
{
    font-family: inherit;
    font-size: 1em;
    color: rgb(196,59,29);
}

.error
{
    font-family: inherit;
    font-size: 1em;
    color: rgb(196,59,29);
}

textarea
{
    min-width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    resize: vertical;
    
    border: 1px solid #888;
    
    font-family: inherit;
    font-size: 1em;
}

.box input
{
    box-sizing: border-box;
}

.box input[type=text], .box input[type=password]
{
    width: 100%;
    padding: 0.5em;
    
    border: 1px solid #888;
        
    font-size: 1em;
}

.box input[type=submit]
{
    padding: 0.5em;
}

form table
{
    width: 100%;
        
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

form tr:nth-child(odd)
{
    background: #FFFFFF;
}

form tr:nth-child(even)
{
    background: #EEEEEE;
}

form th
{
    border: none;
}

form td
{
    padding: 0 0.25em 0 0.25em;
    text-align: center;
    border: none;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
}

.table
{
    width: 40em;
    margin: 1em auto;
    padding: 1em;
    display: table;
    
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
}

.table-left
{
    width: 65%;
    float: left;
}

.table-right
{
    width: 30%;
    float: right;
}

.table-left table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-right table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
    background: #FFFFFF;
    border-radius: 2px;
}

th
{
    padding: 0 0.25em;
    border: none;
}

.table-left td
{
    padding: 0 0.25em;
    text-align: center;
    border: 1px solid #000000;
}

.table-right td
{
    padding: 0 0.25em;
    border: 1px solid #000000;
}

.description td
{
    text-align: left;
}